<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

<div th:replace="template::welcomeNav"></div>

<div class="loginContainer">
    <h2 th:if="${message}=='ok'">Lets log in</h2>
    <h2 th:unless="${message}=='ok'">Incorrect login or password! Try again</h2>
    <br>
    <form method="post" action="#" th:action="@{/login}" th:object="${owner}">
        <label>username</label>
        <input type="text" name="username" autofocus required th:field="*{username}">
        <label>password</label>
        <input type="password" name="password" required th:field="*{password}">
        <input type="submit" value="login">
    </form>
</div>

<div th:replace="template :: footer"></div>

</body>
</html>