<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Round</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script th:inline="javascript">
        function showHidden(hiddenId, shownId) {
            document.getElementById(hiddenId).innerHTML = document.getElementById(shownId).innerText;
        }
    </script>

</head>
<body>

    <div th:replace="template :: nav"></div>

    <div class="matchContainer">

        <th:block th:each="game, iterator : ${nextRoundMatches}">
            <tr th:with="c = city+${iterator.index}, h = hall+${iterator.index}
                        ,t1 = teamHome+${iterator.index}, t2 = teamAway+${iterator.index}
                        ,c1 = coachHome+${iterator.index}, c2 = coachAway+${iterator.index}
                        ,hallPath = ${#strings.substring(game.getTeamOne().getName(), 0 , 3)}+'/hall.jpeg'">

                <div class="matchInfo">
                    <td>City:</td>
                    <td th:text="${__${c}__}">city</td>
                    <br>
                    <td>Hall:</td>
                    <td th:text="${__${h}__}">hall</td>
                    <br>
                    <td>Match:</td>
                    <td th:text="${__${t1}__}">teamHome</td>
                    <td> vs </td>
                    <td th:text="${__${t2}__}">teamAway</td>
                    <br>
                    <td>Coaches:</td>
                    <td th:text="${__${c1}__}">coachHome</td>
                    <td> vs </td>
                    <td th:text="${__${c2}__}">coachAway</td>
					<img class="matchHall" th:src="@{'/images/'+${hallPath}}">			
					
                </div>
            </tr>

            <!--calculate unique id's, regardless of the number of teams-->
            <th:block th:each="pvp: ${#numbers.sequence(1, 5)}" th:value="${pvp}">
                <div th:with="b = battle + ${pvp} + ${iterator.index},s = summary + ${pvp} + ${iterator.index}
                         ,showBattle = (${iterator.index}+1) * 10 + ${pvp}
                         ,showSummary = ((${iterator.index}+1) * 10 + ${pvp}) * (${iterator.size}+1)
                         ,hiddenBattle = ((${iterator.index}+1) * 10 + ${pvp}) * (${T(Math).pow((iterator.size+1),2)})
                         ,hiddenSummary = ((${iterator.index}+1) * 10 + ${pvp}) * (${T(Math).pow((iterator.size+1),3)})">

                    <p th:id="${showBattle}" th:text="${__${b}__}" hidden>battle</p>
                    <p th:id="${showSummary}" th:text="${__${s}__}" hidden>summary</p>

                    <div class="results">
                        <a th:id="${hiddenBattle}" th:onclick="'javascript:showHidden(\''+${hiddenBattle}+'\',\''+${showBattle}+'\');'"><img th:src="@{/images/axe.png}"></a>
                        <a th:id="${hiddenSummary}" th:onclick="'javascript:showHidden(\''+${hiddenSummary}+'\',\''+${showSummary}+'\');'"><img th:src="@{/images/calculating.png}"></a>
                    </div>

                </div>
            </th:block>
        </th:block>

        <form method="post" action="#" th:action="@{/game/matches}">
            <button class="nextRoundBtn" type="submit">CONTINUE</button>
        </form>

    </div>

    <div th:replace="template :: foot"></div>

</body>
</html>

