<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="template :: header"></head>-->
<!--<body>-->

    <!--<div class="intro">-->
        <!--<h1>first</h1>-->
        <!--<h2>second</h2>-->
        <!--<h3>third</h3>-->
        <!--<h4>fourth</h4>-->
    <!--</div>-->

    <!--<div class="article">-->
        <!--<h1>article1</h1>-->
        <!--<h2>article2</h2>-->
        <!--<h3>article3</h3>-->
        <!--<h4>article4</h4>-->
    <!--</div>-->

    <!--<div class="article2">-->
        <!--<h1>ar2</h1>-->
        <!--<h2>ar2</h2>-->
        <!--<h3>ar2</h3>-->
        <!--<h4>ar2</h4>-->
    <!--</div>-->

    <!--<div class="article3">-->
        <!--<h1>ar3</h1>-->
        <!--<h2>ar3</h2>-->
        <!--<h3>ar3</h3>-->
        <!--<h4>ar3</h4>-->
    <!--</div>-->

    <!--<div th:replace="template::foot"></div>-->


<!--</body>-->
<!--</html>-->