<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

    <div th:replace="template :: nav"></div>

    <div class="top10Container">

        <h1>Top 10</h1>
        <br>
        <div class="noRecords" th:if="${#lists.isEmpty(top10data)}">
            <h2>The list has no records. Be the first ring owner</h2>
        </div>

        <table class="records" th:unless="${#lists.isEmpty(top10data)}">
            <tr>
                <th>User</th>
                <th>Rings</th>
            </tr>

            <tr th:each="record : ${top10data}">
                <th th:text="${record[0]}"></th>
                <th th:text="${record[1]}"></th>
            </tr>
        </table>

        <a href="/game/team">BACK</a>

    </div>

    <div th:replace="template :: foot"></div>
</body>
</html>